@media screen and (min-width: 767px) {
}
.clearfix::after {
    content: "";
   display: block;
   clear: both;
}
.header {
    width: 400px;
    height: 100px;
    background-color: #141f40;
    display: flex;
    align-items: center;
}
.shirowaku {
    display: flex;
    width: 160px;
    height: 60px;
    background-color: white;
    margin-left: 220px;
    justify-content: space-around;
    align-items: center;
    position: relative;
}
.asquare {
    width: 40px;
    height: 40px;
    background-color: #a9004b;
    /*margin-left: 10px;
    margin-right: 5px;*/
    position:absolute;
    top: 10px;
    left: 10px;
}
.bsquare {
    width: 40px;
    height: 40px;
    background-color: #a9004b;
    /*margin-left: 5px;
    margin-right: 5px;*/
    position:absolute;
    top: 10px;
    left: 60px;
}
.csquare {
    width: 40px;
    height: 40px;
    background-color: #a9004b;
    /*margin-left: 5px;
    margin-right: 10px;*/
    position: absolute;
    top: 10px;
    right: 10px;
}
/*.main {
    width: 400px;
    height: 250px;
    background-color: #80bfa8;
}*/
.left {
    width: 150px;
    height: 250px;
    background-color: #80bfa8;
    float: left;
}
.right {
    width: 250px;
    height: 250px;
    background-color: #8c2727;
    float: left;
    display: flex;
    position: relative;
    z-index: 2;
}
.contents {
    margin: 40px 40px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.shirowaku2 {
    width: 150px;
    height: 50px;
    background-color: white;
    display: flex;
    align-items: center;
    z-index: 1;
}
.square2 {
    width: 140px;
    height: 40px;
    background-color: #ff863f;
    margin: auto;
    z-index: 0;
}
.footer {
    width: 400px;
    height: 100px;
    background-color: #d98d30;
}
@media screen and (max-width: 479px) {
.all {
    max-width: 479px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.clearfix::after {
    content: "";
   display: block;
   clear: both;
}
.header {
    width: 200px;
    height: 200px;
    background-color: #141f40;
    display: flex;
    justify-content: center;
    z-index: 2;
}
.shirowaku {
    display: flex;
    flex-direction: column;
    width: 60px;
    height: 160px;
    background-color: white;
    margin-left: 0;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
}
.asquare {
    width: 40px;
    height: 40px;
    background-color: #a9004b;
    /*margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 0;
    margin-right: 0;*/
    z-index: 0;
    position: absolute;
}
.bsquare {
    width: 40px;
    height: 40px;
    background-color: #a9004b;
    /*margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 0;
    margin-right: 0;*/
    z-index: 0;
    position: absolute;
    top: 60px;
    left: 10px;

}
.csquare {
    width: 40px;
    height: 40px;
    background-color: #a9004b;
    /*margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: 0;*/
    z-index: 0;
    position: absolute;
    top: 110px;

}
/*.main {
    width: 400px;
    height: 250px;
    background-color: #80bfa8;
}*/
.left {
    width: 200px;
    height: 100px;
    background-color: #80bfa8;
    float: none;
}
.right {
    width: 200px;
    height: 230px;
    background-color: #8c2727;
    float: none;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 2;
}
.contents {
    margin: 20px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.shirowaku2 {
    width: 150px;
    height: 50px;
    background-color: white;
    display: flex;
    align-items: center;
    z-index: 1;
}
.square2 {
    width: 140px;
    height: 40px;
    background-color: #ff863f;
    margin: auto;
    z-index: 0;
}
.footer {
    width: 200px;
    height: 100px;
    background-color: #d98d30;
}
}